<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Burger Burger!</title>
    <link rel="stylesheet" href="../../public/assets/css/burger_style.css">
    <link rel="author" href="Mark Bui">
  </head>
  <body>

    {{{ body }}}

  </body>
</html>
