<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Burger Burger!</title>
    <link rel="stylesheet" href="../../public/assets/css/burger_style.css">
    <link rel="author" href="Mark Bui">
  </head>
  <body>
<!--     <div class="container"><center>
      <img src="../../public/assets/img/cartoonBurger.jpg" class="burgerImage">
    <h1>Eat Da Burger!</h1> -->
    {{{ body }}}
<!--     <h2>Add a new Burger!</h2>
    <form method="POST" action="/" class="burgerNew">
      <textarea name="burgerName"></textarea><br>
      <button type="submit">Submit</button>
      <h4>Enter a burger you want to eat. Click the "Submit" button</h4>
    </form>
    </center>
    </div> -->
  </body>
</html>