<h1>Burgers Burgers!!!</h1>

<ul>
  {{#each burgers}}
  <li>
    <p>
      {{this.id}}. {{this.burger_name}}
    </p>
      <form action="/{{this.id}}?_method=DELETE" method="POST">
        <button type="submit">Devour Burger!</button>
      </form>
  </li>
  {{/each}}
</ul>

