.burgerImage {
  max-width: 300px;
  max-height: 300px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
body {
  background-image: url('../img/food.png');
}
.col-md-6 {
  float:left;
  margin-bottom: 15px;
}
.button {
  clear: left;
}

.item-name {
  float: left;
  clear: left;
  padding-top: 5px;
  padding-bottom: 5px;
}
.devour-button {
  float: right;
  padding: 0 !important;
  border-radius: 0 !important;
  padding-top: 5px;
  padding-bottom: 5px;
}
